name: three_doors
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.17.6 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  auto_route:
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_flavorizr:
  auto_route_generator:
  build_runner:

flavorizr:
  app:
    android:
      flavorDimensions: "flavor-type"
    ios:

  flavors:
    prod:
      app:
        name: "Three Doors Prod"

      android:
        applicationId: "com.softwarehut.threedoors.prod"
      ios:
        bundleId: "com.softwarehut.threedoors.prod"

    dev:
      app:
        name: "Three Doors Dev"

      android:
        applicationId: "com.softwarehut.threedoors.dev"
      ios:
        bundleId: "com.softwarehut.threedoors.dev"

  instructions:
    - assets:download
    - assets:extract
    - android:androidManifest
    - android:buildGradle
    - android:dummyAssets
    - android:icons
    - flutter:flavors
    - flutter:app
    - flutter:pages
    - flutter:targets
    # - ios:xcconfig
    # - ios:buildTargets
    # - ios:schema
    # - ios:dummyAssets
    # - ios:icons
    # - ios:plist
    # - ios:launchScreen
    - google:firebase
    - huawei:agconnect
    - assets:clean
    - ide:config

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
